doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Administración
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    body
        div.bloque_1.body_bloque1
            .bloque1__container
                .bloque1__top
                    .bloque1__top--logo 
                    .bloque1__top--title
                        h1.top__title--top ADMINISTRACIÓN 
                            br
                            | ES CAYETANO
                        h1.topTitle__desktop ADMINISTRACIÓN 
                            br
                            | ES CAYETANO
                        h1.top__title--bottom ESTUDIA EN LA UNIVERSIDAD #1 DE PERÚ
                    .bloque1__top--block
                        .block__container
                            h3 EXAMEN DE ADMISIÓN: 
                                span 23 DE JUNIO
                    .bloque1__top--wur
                .bloque1__bottom
                    .bloque5__container
                        .form__container(id="crmWebToEntityForm" class="crmWebToEntityForm")
                            meta(name='viewport' content='width=device-width, initial-scale=1.0')
                            meta(http-equiv='content-type' content='text/html;charset=UTF-8')
                            .form__title
                                h3 INGRESA TUS DATOS PARA COMUNICARNOS CONTIGO
                            form.form__grid(action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads3503766000534071729' method='POST' onsubmit="javascript:document.charset='UTF-8'; return checkMandatory3503766000534071729()" accept-charset='UTF-8')
                                input(type='text' style='display:none;' name='xnQsjsdp' value='c97f82d6293e06539d0f3a6c001f215f068b9d003b173ad35ac95fe75cb8ea7f')
                                input#zc_gad(type='hidden' name='zc_gad' value='')
                                input(type='text' style='display:none;' name='xmIwtLD' value='42e2caac6f0c0344d1e62ffdafb95a5ddf7c3f5b3dfcd730294bda3ad30f2b3f')
                                input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                                input(type='text' style='display:none;' name='returnURL' value='https://lp.cayetano.edu.pe/gracias-administracion-2024/')
                                //- INPUTS OCULTOS
                                //- .checkbox__grid
                                //-     .checkbox__container
                                //-         .checkbox__title
                                //-             h3 Soy:
                                //-         .checkbox__item.cb_postulante
                                //-             .checkbox__input
                                //-                 input(type='checkbox' name="check" id="postulante" onclick="onlyOne(this, 'Estudiante')" required)
                                //-             .checkbox__text
                                //-                 h3 Estudiante
                                //-         .checkbox__itemSeparator
                                //-         .checkbox__item.cb_tutor
                                //-             .checkbox__input
                                //-                 input(type='checkbox' name="check" id="tutor" onclick="onlyOne(this, 'Tutor, padre o madre de familia')" required)
                                //-             .checkbox__text
                                //-                 h3 Tutor, padre o madre de familia
                                .form__grid--double
                                    input#First_Name(type="text" name="First Name" maxlength="40" placeholder="Nombres*" required)
                                    input#Last_Name(type="text" name="Last Name" maxlength="40" placeholder="Apellidos*" required)
                                .form__grid--double
                                    select#LEADCF20(name='LEADCF20' required)
                                        option(value="" disabled selected) Tipo de documento*
                                        option(value='DNI') DNI
                                        option(value='CarnédeExtranjería') Carnet de Extranjeria
                                        option(value='Pasaporte') Pasaporte
                                    input(id="LEADCF21" type="text" name="LEADCF21" maxlength="20" placeholder="Nro de documento*" required disabled="true")
                                .content_mobile
                                    span.whassap
                                    input#Mobile(type="text" name="Mobile" maxlength="9" pattern="9[0-9]{8}" placeholder="Déjanos tu número de WhatsApp*" required)
                                input#Email(type="text" name="Email" maxlength="100" ftype='email' placeholder="Correo*" required)
                                //- select#LEADCF6(name="LEADCF6" required)
                                //-     option(value='' disabled='' selected='') - Seleccionar carrera -
                                //-     option(value='ADMINISTRACION') Administración
                                //-     option(value='BIOLOGIA') Biología
                                //-     option(value='EDUCACION') Educación
                                //-     option(value='ENFERMERIA') Enfermería
                                //-     option(value='ESTOMATOLOGIA') Estomatología
                                //-     option(value='FARMACIA Y BIOQUIMICA') Farmacia y Bioquimica
                                //-     option(value='INGENIERIA AMBIENTAL') Ingeniería Ambiental
                                //-     option(value='INGENIERIA BIOMEDICA') Ingeniería Biomédica
                                //-     option(value='INGENIERIA INDUSTRIAL') Ingeniería Industrial
                                //-     option(value='INGENIERIA INFORMATICA') Ingeniería Informática 
                                //-     option(value='LABORATORIO CLINICO') Laboratorio Clínico y Anatomía Patológica
                                //-     option(value='MEDICINA') Medicina
                                //-     option(value='MEDICINA VETERINARIA Y ZOOTECNIA') Medicina Veterinaria y Zootecnia
                                //-     option(value='NUTRICION') Nutrición 
                                //-     option(value='PSICOLOGIA') Psicología 
                                //-     option(value='RADIOLOGIA') Radiología 
                                //-     option(value='TERAPIA DE AUDICION, VOZ Y LENGUAJE') Terapia de Audición, Voz y Lenguaje
                                //-     option(value='TERAPIA FISICA Y REHABILITACION') Terapia Física y Rehabilitación
                                //-     option(value='TERAPIA OCUPACIONAL') Terapia Ocupacional 
                                select#LEADCF14(name='LEADCF14' required)
                                    option(value='' disabled='' selected='') - ¿En qué año estás del colegio? -
                                    option(value='5to de secundaria') 5to. de secundaria
                                    option(value='4to de secundaria') 4to. de secundaria
                                    option(value='3ro de secundaria') 3ro. de secundaria
                                    option(value='Ya termine el colegio') Ya terminé el colegio 
                                select#LEADCF41(name='LEADCF41' required)
                                    option(value="" disabled selected) - Selecciona tu distrito -
                                    option(value="Ancón") Ancón
                                    option(value="Ate") Ate
                                    option(value="Barranco") Barranco
                                    option(value="Breña") Breña
                                    option(value="Carabayllo") Carabayllo
                                    option(value="Cercado de Lima") Cercado de Lima
                                    option(value="Chaclacayo") Chaclacayo
                                    option(value="Chorrillos") Chorrillos
                                    option(value="Cieneguilla") Cieneguilla
                                    option(value="Comas") Comas
                                    option(value="El agustino") El agustino
                                    option(value="Independencia") Independencia
                                    option(value="Jesús maría") Jesús maría
                                    option(value="La molina") La molina
                                    option(value="La victoria") La victoria
                                    option(value="Lince") Lince
                                    option(value="Los olivos") Los olivos
                                    option(value="Lurigancho") Lurigancho
                                    option(value="Lurín") Lurín
                                    option(value="Magdalena del mar") Magdalena del mar
                                    option(value="Miraflores") Miraflores
                                    option(value="Pachacámac") Pachacámac
                                    option(value="Pucusana") Pucusana
                                    option(value="Pueblo libre") Pueblo libre
                                    option(value="Puente piedra") Puente piedra
                                    option(value="Punta hermosa") Punta hermosa
                                    option(value="Punta negra") Punta negra
                                    option(value="Rímac") Rímac
                                    option(value="San bartolo") San bartolo
                                    option(value="San borja") San borja
                                    option(value="San isidro") San isidro
                                    option(value="San Juan de Lurigancho") San Juan de Lurigancho
                                    option(value="San Juan de Miraflores") San Juan de Miraflores
                                    option(value="San Luis") San Luis
                                    option(value="San Martin de Porres") San Martin de Porres
                                    option(value="San Miguel") San Miguel
                                    option(value="Santa Anita") Santa Anita
                                    option(value="Santa María del Mar") Santa María del Mar
                                    option(value="Santa Rosa") Santa Rosa
                                    option(value="Santiago de Surco") Santiago de Surco
                                    option(value="Surquillo") Surquillo
                                    option(value="Villa el Salvador") Villa el Salvador
                                    option(value="Villa Maria del Triunfo") Villa Maria del Triunfo
                                
                                // INPUTS
                                input#LEADCF183(type='hidden' name='LEADCF183' value='')
                                input#LEADCF189(type='hidden' name='LEADCF189' value='')
                                input#LEADCF24(type='hidden' name='LEADCF24' value='')
                                input#LEADCF184(type='hidden' name='LEADCF184' value='')
                                input#LEADCF182(type='hidden' name='LEADCF182' value='')
                                input#LEADCF22(type='hidden' name='LEADCF22' value='')
                                input#LEADCF168(type='hidden' name='LEADCF168' value='')
                                input#LEADCF203(type='hidden' name='LEADCF203' value='')
                                input#LEADCF6(type='hidden' name='LEADCF6' value='ADMINISTRACION')
                                input#LEADCF198(type='hidden' name='LEADCF198' value='')
                                input#LEADCF7(type='hidden' name='LEADCF7' value='Pregrado')
                                .terminos
                                    input#privacyTool3503766000534071729(type='checkbox' autocomplete='off' name='privacyTool' onclick='disableSubmit()' required)
                                    label#labelCheckbox(for='privacyTool3503766000534071729')
                                        a(href="https://cayetano.edu.pe/politica-privacidad/" target="_blank") Política de privacidad y los Términos de servicio
                                //- .captcha
                                //-     #recap3503766000534071729.g-recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000534071729' captcha-verified='false')
                                //-     #recapErr3503766000534071729(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                                .button__enviar
                                    button
                                        h3 QUIERO MÁS INFORMACIÓN
                                script.
                                    //- console.log(document.getElementById('tipo-eventos').value)
                                    let url = window.location.href
                                    let urlValue = document.getElementById('LEADCF168');
                                    let inputCheckbox = document.getElementById('LEADCF198');
                                    let inputTypeDocument = document.getElementById('LEADCF20');
                                    let inputNumDocument = document.getElementById('LEADCF21');
                                    var referencia = document.getElementById('LEADCF168');
                                    inputTypeDocument.addEventListener("change", () => {
                                        inputNumDocument.removeAttribute("disabled");
                                        inputNumDocument.style.backgroundColor = "#0098e8";
                                    })
                                    function onlyOne(checkbox, message) {
                                        inputCheckbox.value = message;
                                        var checkboxes = document.getElementsByName('check')
                                        checkboxes.forEach((item) => {
                                            item.removeAttribute("required");
                                            if (item !== checkbox) item.checked = false
                                        })
                                    }
                                    function privacyAlert3503766000534071729() {
                                        var privacyTool = document.getElementById('privacyTool3503766000534071729');
                                        var privacyErr = document.getElementById('privacyErr3503766000534071729');
                                        if(privacyTool !=undefined && !privacyTool.checked )
                                        {
                                            //- privacyErr.style.visibility='visible';
                                            alert("Porfavor acepte la política de privacidad y términos de servicio")
                                            privacyTool.focus();
                                            return false;
                                        }
                                        return true;
                                    }
                                    function disableErr3503766000534071729() {
                                        var privacyTool = document.getElementById('privacyTool3503766000534071729');
                                        var privacyErr = document.getElementById('privacyErr3503766000534071729');
                                        if(privacyTool !=undefined && privacyTool.checked && privacyErr !=undefined )
                                        {
                                        privacyErr.style.visibility='hidden';
                                        }
                                    }
                                    function rccallback3503766000534071729() {
                                        if (document.getElementById('recap3503766000534071729') != undefined) {
                                            document.getElementById('recap3503766000534071729').setAttribute('captcha-verified', true);
                                        }
                                        if (document.getElementById('recapErr3503766000534071729') != undefined && document.getElementById('recapErr3503766000534071729').style.visibility == 'visible') {
                                            document.getElementById('recapErr3503766000534071729').style.visibility = 'hidden';
                                        }
                                    }
                                    function reCaptchaAlert3503766000534071729() {
                                        var recap = document.getElementById('recap3503766000534071729');
                                            if (recap != undefined && recap.getAttribute('captcha-verified') == 'false') {
                                                document.getElementById('recapErr3503766000534071729').style.visibility = 'visible';
                                            return false;
                                        }
                                        return true;
                                    }
                                    function validateEmail3503766000534071729() {
                                        var form = document.forms['WebToLeads3503766000534071729'];
                                        var emailFld = form.querySelectorAll('[ftype=email]');
                                        var i;
                                        for (i = 0; i < emailFld.length; i++){
                                            var emailVal = emailFld[i].value;
                                            if((emailVal.replace(/^\\s+|\s+$/g, '')).length!=0 ) {
                                                var atpos=emailVal.indexOf('@');
                                                var dotpos=emailVal.lastIndexOf('.');
                                                if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length){
                                                    alert('Introduzca una dirección de correo electrónico válida. ');
                                                    emailFld[i].focus();
                                                    emailFld[i].style.border = "2.5px solid #01295f";
                                                    setTimeout(() => {
                                                        emailFld[i].style.border = "none";
                                                    }, 3000);
                                                    return false;
                                                }
                                            }
                                        }
                                        return true;
                                    }
                                    function validateDateFormat3503766000534071729() {
                                        var form = document.forms['WebToLeads3503766000534071729'];
                                        var dateFlds = form.querySelectorAll('[ftype=date]');
                                        var i;
                                        for (i = 0; i < dateFlds.length; i++) {
                                            var dateFld = dateFlds[i];
                                            var usrPtrn = dateFld.placeholder;
                                            var dateVal = dateFld.value;
                                            if(dateVal.trim() != ''){
                                                var vald = dateFormatConvert.validate(dateVal,usrPtrn);
                                                if(!vald){
                                                    alert('Escriba una fecha válida ');
                                                    dateFld.focus();
                                                    return false;
                                                }
                                            }
                                        }
                                        return true;
                                    }
                                    function checkMandatory3503766000534071729() {
                                        var dniInput = document.getElementById("LEADCF21");
                                        var dniValue = dniInput.value;
                                        var celInput = document.getElementById("Mobile");
                                        var celValue = celInput.value;
                                        var mndFileds = new Array('First Name','Last Name');
                                        var fldLangVal = new Array('Nombre','Apellidos');
                                        
                                        for(i=0;i<mndFileds.length;i++) {
                                            var fieldObj=document.forms['WebToLeads3503766000534071729'][mndFileds[i]];
                                            if(fieldObj) {
                                                if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
                                                    if(fieldObj.type =='file') {
                                                        alert('Seleccione un archivo para cargar.');
                                                        fieldObj.focus();
                                                        return false;
                                                    }
                                                    alert(fldLangVal[i] +' no puede estar vacío.');
                                                    fieldObj.focus();
                                                    return false;
                                                }  else if(fieldObj.nodeName=='SELECT') {
                                                    if(fieldObj.options[fieldObj.selectedIndex].value=='Carreras Elegibles*') {
                                                        alert(fldLangVal[i] +' no puede ser nulo.');
                                                        fieldObj.focus();
                                                        return false;
                                                    }
                                                } else if(fieldObj.type =='checkbox'){
                                                    if(fieldObj.checked == false){
                                                        alert('Please accept  '+fldLangVal[i]);
                                                        fieldObj.focus();
                                                        return false;
                                                    }
                                                } 
                                                if (/^\d{8}$/.test(dniValue)||/^\d{20}$/.test(dniValue)) {
                                                } else {
                                                    alert("El DNI ingresado no es válido");
                                                    fieldObj.focus();
                                                    dniInput.style.border = "2.5px solid #01295f";
                                                    setTimeout(() => {
                                                        dniInput.style.border = "none";
                                                    }, 3000);
                                                    return false;
                                                }
                                                if (/^(9)[0-9]{8}$/.test(celValue)) {
                                                } else {
                                                    alert("Debe ingresar 9 digitos en el campo celular");
                                                    fieldObj.focus();
                                                    celInput.style.border = "2.5px solid #01295f";
                                                    setTimeout(() => {
                                                        celInput.style.border = "none";
                                                    }, 3000);
                                                    return false;
                                                }
                                                try {
                                                    if(fieldObj.name == 'Last Name') {
                                                    name = fieldObj.value;
                                                    }
                                                } catch (e) {}
                                            }
                                        }
                                        if(!validateEmail3503766000534071729()){return false;}
                                        if(!privacyAlert3503766000534071729()){return false;}
                                        if(!reCaptchaAlert3503766000534071729()){return false;}
                                        if(!validateDateFormat3503766000534071729()){return false;}
                                        document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
                                    }
                                    function tooltipShow3503766000534071729(el){
                                        var tooltip = el.nextElementSibling;
                                        var tooltipDisplay = tooltip.style.display;
                                        if(tooltipDisplay == 'none'){
                                            var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
                                            for(i=0; i<allTooltip.length; i++){
                                            allTooltip[i].style.display='none';
                                            }
                                            tooltip.style.display = 'block';
                                        }else{
                                            tooltip.style.display='none';
                                        }
                                    }
                                    function getUTMParams() {
                                        var params = {};
                                        var queryString = window.location.search;
                                        queryString = queryString.substr(1);
                                        var pairs = queryString.split("&");
                                        for (var i = 0; i < pairs.length; i++) {
                                        var pair = pairs[i].split("=");
                                        params[pair[0]] = pair[1];
                                        }
                                        return params;
                                    }
                                    // obtener los parámetros UTM y almacenarlos en variables
                                    //- let url = window.location.href;
                                    var utmParams = getUTMParams();
                                    var utmSource = utmParams["utm_source"];
                                    var utmMedium = utmParams["utm_medium"];
                                    var utmCampaign = utmParams["utm_campaign"];
                                    var utmTerm = utmParams["utm_term"];
                                    var utmContent = utmParams["utm_content"];
                                    var utmId = utmParams["utm_id"];

                                    referencia.value = url;

                                    let source = document.getElementById('LEADCF183');
                                    let medium = document.getElementById('LEADCF189');
                                    let campaign = document.getElementById('LEADCF24');
                                    let term = document.getElementById('LEADCF184');
                                    let content = document.getElementById('LEADCF182');
                                    let id = document.getElementById('LEADCF203');

                                    if (utmSource){
                                        source.value = utmSource;
                                    }else {
                                        source.value = "";
                                    }
                                    if (utmId){
                                        id.value = utmId;
                                    }else {
                                        id.value = "";
                                    }
                                    if (utmMedium){
                                        medium.value = utmMedium;
                                    }else {
                                        medium.value = "";
                                    }
                                    if (utmCampaing){
                                        campaign.value = utmCampaing;
                                    }else {
                                        campaign.value = "";
                                    }
                                    if (utmTerm){
                                        term.value = utmTerm;
                                    }else {
                                        term.value = "";
                                    }
                                    if (utmContent){
                                        content.value = utmContent;
                                    }else {
                                        content.value = "";
                                    }

                                    window.addEventListener("load", function () {
                                        const tiposDocumento = {
                                            DNI: {
                                                maxLength: 8,
                                                value: "",
                                                pattern: "[0-9]{8}",
                                                placeholder: "Ingresa numero de DNI",
                                                title: "Debe contener 8 números",
                                            },
                                            CarnédeExtranjería: {
                                                minLength: 5,
                                                maxLength: 20,
                                                value: "",
                                                pattern: "[0-9]{1,20}",
                                                placeholder: "Ingresa numero de Carnet",
                                                title: "Solo números hasta 20 digitos como maximo",
                                            },
                                            Pasaporte: {
                                                minLength: 6,
                                                maxLength: 20,
                                                value: "",
                                                pattern: "[0-9]{1,20}",
                                                placeholder: "Ingresa numero de Pasaporte",
                                                title: "Solo números hasta 20 digitos como maximo",
                                            },
                                        };
                                        let tipoDocumento = document.getElementById('LEADCF20');
                                        let numeroDocumento = document.getElementById('LEADCF21');
                                        tipoDocumento.addEventListener('change', function() {
                                            const tipo = this.value;
                                            if (tipo in tiposDocumento) {
                                                const datosDocumento = tiposDocumento[tipo];
                                                numeroDocumento.setAttribute('minlength', datosDocumento.minLength);
                                                numeroDocumento.setAttribute('maxlength', datosDocumento.maxLength);
                                                numeroDocumento.setAttribute('pattern', datosDocumento.pattern);
                                                numeroDocumento.value="";
                                                numeroDocumento.setAttribute('value', datosDocumento.value);
                                                numeroDocumento.setAttribute('placeholder', datosDocumento.placeholder);
                                                numeroDocumento.setAttribute('title', datosDocumento.title);
                                            } else {
                                                numeroDocumento.removeAttribute('minlength');
                                                numeroDocumento.removeAttribute('maxlength');
                                                numeroDocumento.removeAttribute('pattern');
                                                numeroDocumento.removeAttribute('placeholder');
                                                numeroDocumento.removeAttribute('title');
                                            }
                                        });   
                                    });
                                // SCRIPT
                                // OTHER SCRIPT
                                script#wf_anal(src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=42e2caac6f0c0344d1e62ffdafb95a5d7d3571ff6d536aa6c0e7a7338f8d1179gidc97f82d6293e06539d0f3a6c001f215f068b9d003b173ad35ac95fe75cb8ea7fgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513&tw=61690b96c1d0471b638f31426f38e68aa67fb7ed6da86f32dc10ad817fe55a0a' async)
                                // OTHER SCRIPT
                                // Do not remove this code.
                                iframe(name='captchaFrame' style='display:none;')